* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* For fading text */
span#green {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(50px);
    display: inline-block;
}

span.fade#green {
    opacity: 1;
    transform: translateX(0px);
    color: rgb(24, 136, 102);
}

span#white {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(50px);
    display: inline-block;
}

span.fade#white {
    opacity: 1;
    transform: translateX(0px);
/*    color: rgb(24, 136, 102); */
}

/*------------------------------------------ index.html ------------------------------------------*/
.h1_welcome {
    font-family:"Montserrat", sans-serif;
    font-size: 2.5vw; /* vw = automatic resize with a another resolution */
    color: white;
    margin-left: 50%;
    margin-top: 15%;
}

.body_welcome {
    background: url(/images/pexels-markus-spiske-193350.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-color: #172118;
}

.welcome_button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2vw;
    background-color: transparent;
    text-decoration: none;
    border: 3px solid #89ac71;
    color: white;
    margin-top: 4%;
    margin-left: 68%;
    border-radius: 00px;
    width: 12vw;
    height: 3vw;
    outline: none;
    cursor: pointer;
    transition: .3s all ease;
}

.welcome_button:before {
    background-color: #89ac71;
    content: '';
    margin-top: -0.7%;
    margin-left: -3.3%; 
    border-radius: 0px;
    position: absolute;
    transform: translate(-0%,-0%);
    z-index: -1;
    transition: all 0.6s ease;
}

.welcome_button:before {
    width: 0vw;
    height: 3vw;
}

.welcome_button:hover:before {
    width: 12vw;
    height: 3vw;
}


.welcome_button:focus {
    color: green;
    border: 2px solid #89ac71;
    box-shadow: 0px 0px 0px 1px #89ac71;
    animation: animation-shadow .3s forwards; 
}

@keyframes animation-shadow {
    100% {
        box-shadow: 0px 0px 50px 20px #89ac71;
    }
}
/*------------------------------------------ index.html end --------------------------------------*/

/*------------------------------------------- main.html ------------------------------------------*/
.h1_main {
    font-family:"Montserrat", sans-serif;
    font-size: 2.5vw;
    color: white;
    margin-left: 5%;
    margin-top: 17.8%;
}

.body_main {
    background: #172118;
}

nav#main_nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: -27%;
    align-items: center;
    min-height: 6vh;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.name_logo {
    color:rgb(24, 136, 102);
    width: 14%;
    margin-left: 5%;
    font-size: 0.9vw;
}

ul#action-bar {
    margin-left: 40%;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

li#action-bar {
    list-style: none;
}

a#action-bar {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.8vw;
}

/* rotaiting text */
div#holder {
    position: absolute;
    left: 58vw;
    top: 12vw
} 
/*---------------------------------------- main.html end ---------------------------------------*/

/*---------------------------------------- over_me.html ----------------------------------------*/
.body_over_me {
    background: #172118;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

nav#over_me_nav {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    display: flex;
    align-items: center;
    min-height: 6vh;
}

.h1_timeline{ 
    color: white;
    margin-left: 40%;
    margin-top: 80px; /* abstand überschrift zu nav-bar */
    margin-bottom: -100px; /* abstand strich zu überschrift */
}

.content {
    padding-bottom: 100px;
    width: 100%;
}

.timeline {
    position: relative;
    margin: 50px auto;
    top: 0px;
    padding: 100px 0;
    width: 50vw; 
    box-sizing: border-box;
}

/* Strich */
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background: #dfe9f3;
}

.timeline ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

/* Kreis */
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -0.55vw;
    width: 1vw;
    height: 1vw;
    background: #B0FB6F;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #B0FB6F;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -0.45vw;
    width: 1vw;
    height: 1vw;
    background: #B0FB6F;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #B0FB6F;
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: white;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

/* zeit */
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -10vw;
    margin: 0;
    padding: 8px 16px;
    background: #B0FB6F;
    color: black;
    border-radius: 30px;
    box-shadow: 0 0 0 3px #B0FB6F;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -10vw;
    margin: 0;
    padding: 8px 16px;
    background: #B0FB6F;
    color: black;
    border-radius: 30px;
    box-shadow: 0 0 0 3px #B0FB6F;
}
/*---------------------------------------- over_me.html end ------------------------------------*/

/*---------------------------------------- projects.html ---------------------------------------*/
.body_projects {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #172118;
}

.h1_projects {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 80px; /* abstand überschrift zu nav-bar */
    margin-bottom: -100px; /* abstand projekte zu überschrift */
}

nav#projects_nav {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    display: flex;
    align-items: center;
    min-height: 6vh;
}

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100px;
    margin-top: 180px; /* bar nach unten/oben verschieben */
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

/* Kreis */
#progress-bar-container li:before{
    content: '';
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 3px white;
    transition: all ease 0.3s;
}

/* Kreis inhalt */
#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    background: #B0FB6F;
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 70px; /* Abstand schrift zu kreis */
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 18px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #B0FB6F;
}

/* Unterer Kreis */
#progress-bar-container li:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 5px white;
    border-radius: 50%;
    margin-top: 49px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
    background: #B0FB6F;
}

#progress-bar-container li.active:after {
    background: #B0FB6F;
}

/* Linie */
#progress-bar-container #line {
    width: 90%;
    margin: auto;
    background: #eee;
    height: 5px;
    position: absolute;
    left: 5%;
    top: 65px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

/* Fortschritt linie */
#progress-bar-container #line-process {
    content: '';
    width: 5%;
    height: 100%;
    background: #B0FB6F;
    background: linear-gradient(to right, #B0FB6F 0%, #B0FB6F 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
	font-size:25px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#progress-content-section .section-content p {
	font-size:18px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1; 
	animation-fill-mode:forwards; 
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
/*------------------------------------- projects.html end -------------------------------------*/


